/*.flex-container{
    display: flex;
    background-color: aquamarine;
}

.flex-container div{
    background-color: cadetblue;
    margin: 10px;
    padding: 28px;
    font-size: 30px;
}*/

.flex-container{
    display: flex;
    flex-direction: row-reverse;
    background-color: cornflowerblue;
}

.flex-container div{
    background-color: darkcyan;
    color: darkkhaki;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px ;
}